
<div class="span6 ">
  <article class="property-item clearfix">
    <h4><a href="#" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>

    <figure>
      <a href="#" title="15421 Southwest 39th Terrace">
        <img  src="images/temp-images/property1.jpg"  alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
      </a>
      <figcaption>On Rent</figcaption>
    </figure>

    <div class="detail">
      <h5 class="price">$3,850 Per Month<small> - Villa</small></h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt…</p>
      <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a>
    </div>

    <div class="property-meta">
      <span><i class="icon-area"></i>280 sq ft&nbsp;</span><span><i class="icon-bed"></i>3&nbsp;Bedrooms</span><span><i class="icon-bath"></i>3&nbsp;Bathrooms</span><span><i class="icon-garage"></i>3&nbsp;Garages</span>
    </div>
  </article>
</div><!-- End .span6 -->
