
<section class="advance-search ">
  <h3 class="search-heading"><i class="icon-search"></i>Find your Home</h3>
  <div class="as-form-wrap">
    <form class="advance-search-form clearfix" action="" method="get">

      <div class="option-bar large">
        <label>Location</label>
                                    <span class="selectwrap">
                                        <select name="location" id="select-location" class="search-select">
                                          <option value="miami">Miami</option>
                                          <option value="newyork">New York</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar large">
        <label>Status</label>
                                    <span class="selectwrap">
                                        <select name="status" id="select-status" class="search-select">
                                          <option value="on-rent">On Rent</option>
                                          <option value="on-sale">On Sale</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar large last">
        <label>Property Type</label>
                                    <span class="selectwrap">
                                        <select name="type" id="select-property-type" class="search-select">
                                          <option value="condominium">Condominium</option>
                                          <option value="single-family-home">Single Family Home</option>
                                          <option value="villa">Villa</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar small">
        <label>Bedrooms</label>
                                    <span class="selectwrap">
                                        <select name="bedrooms" id="select-bedrooms" class="search-select">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar small">
        <label>Bathrooms</label>
                                    <span class="selectwrap">
                                        <select name="bathrooms" id="select-bathrooms" class="search-select">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar small second-last">
        <label>Minimum Price</label>
                                    <span class="selectwrap">
                                        <select name="min-price" id="select-min-price" class="search-select">
                                          <option value="1000">$1,000</option>
                                          <option value="5000">$5,000</option>
                                          <option value="10000">$10,000</option>
                                          <option value="50000">$50,000</option>
                                          <option value="100000">$100,000</option>
                                          <option value="200000">$200,000</option>
                                          <option value="300000">$300,000</option>
                                          <option value="400000">$400,000</option>
                                          <option value="500000">$500,000</option>
                                          <option value="600000">$600,000</option>
                                          <option value="700000">$700,000</option>
                                          <option value="800000">$800,000</option>
                                          <option value="900000">$900,000</option>
                                          <option value="1000000">$1,000,000</option>
                                          <option value="1500000">$1,500,000</option>
                                          <option value="2000000">$2,000,000</option>
                                          <option value="2500000">$2,500,000</option>
                                          <option value="5000000">$5,000,000</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <div class="option-bar small last">
        <label>Maximum Price</label>
                                    <span class="selectwrap">
                                        <select name="max-price" id="select-max-price" class="search-select">
                                          <option value="5000">$5,000</option>
                                          <option value="10000">$10,000</option>
                                          <option value="50000">$50,000</option>
                                          <option value="100000">$100,000</option>
                                          <option value="200000">$200,000</option>
                                          <option value="300000">$300,000</option>
                                          <option value="400000">$400,000</option>
                                          <option value="500000">$500,000</option>
                                          <option value="600000">$600,000</option>
                                          <option value="700000">$700,000</option>
                                          <option value="800000">$800,000</option>
                                          <option value="900000">$900,000</option>
                                          <option value="1000000">$1,000,000</option>
                                          <option value="1500000">$1,500,000</option>
                                          <option value="2000000">$2,000,000</option>
                                          <option value="2500000">$2,500,000</option>
                                          <option value="5000000">$5,000,000</option>
                                          <option value="10000000">$10,000,000</option>
                                          <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
      </div>

      <input type="submit" value="Search" class=" real-btn btn">
    </form>
  </div>
</section><!-- End .advance-search -->

<%= render "index_offers" %>

</div><!-- End .main -->
</div><!-- End span12 -->
</div><!-- End .row -->
</div><!-- End .contents -->


<footer id="footer-wrapper">

  <div id="footer" class="container">

    <div class="row">

      <div class="span3">
        <section class="widget">
          <h3 class="title">About Real Homes</h3>
          <div class="textwidget">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
          </div>
        </section>
      </div>

      <div class="span3">
        <section class="widget">
          <h3 class="title">Recent Posts</h3>
          <ul>
            <li>
              <a href="#" title="Lorem Post With Image Format">Lorem Post With Image Format</a>
            </li>
            <li>
              <a href="#" title="Example Video Blog Post">Example Video Blog Post</a>
            </li>
            <li>
              <a href="#" title="Example Post With Gallery Post Format">Example Post With Gallery Post Format</a>
            </li>
            <li>
              <a href="#" title="Example Post With Image Post Format">Example Post With Image Post Format</a>
            </li>
            <li>
              <a href="#" title="Lorem Ipsum Dolor Sit Amet">Lorem Ipsum Dolor Sit Amet</a>
            </li>
          </ul>
        </section>
      </div>

      <div class="span3">
        <section class="widget">
          <h3 class="title">Latest Tweets</h3>
          <ul id="twitter_update_list">
            <li>No Tweet Loaded !</li>
          </ul>
        </section>

      </div>

      <div class="span3">
        <section class="widget"><h3 class="title">Contact Info</h3>
          <div class="textwidget">
            <p>3015 Grand Ave, Coconut Grove,<br>
              Merrick Way, FL 12345</p>
            <p>Phone: 123-456-7890</p>
            <p>Email: <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></p>
          </div>
        </section>
      </div>
    </div>

  </div>

  <!-- Footer Bottom -->
  <div id="footer-bottom" class="container">

    <div class="row">
      <div class="span6">
        <p class="copyright">Copyright © 2013. All Rights Reserved.</p>
      </div>
      <div class="span6">
        <p class="designed-by">Real Homes Theme by <a target="_blank" href="http://inspirythemes.com/">Inspiry Themes</a> - Design by <a target="_blank" href="http://themedesigner.in/">Sunil Joshi</a></p>                        </div>
    </div>

  </div>
  <!-- End Footer Bottom -->

</footer>
