<div class="inner-wrapper">

  <h3>Ce facem pentru dumneavoastra?</h3>

  <p>Asistenta si consultanta in vanzare/inchiriere
  <ul>
    <li>Vizionarea ofertei si garantarea corectitudinii informatiilor din prezentare;</li>
    <li>Intocmirea unui material de prezentare in cazul ofertelor sau a unei fise in cazul cererilor;</li>
    <li>Negocierea tuturor conditiilor de vanzare si/sau inchiriere cat mai apropiate de cerintele pietei;</li>
    <li>Negocierea conditiilor de colaborare cu potentialii clientii</li>
    <li>Vizite de prezentare a ofertelor;</li>
    <li>Asistenta in intocmirea contractului intre partile care realizeaza tranzactii;</li>
  </ul>
  </p>

  <p>
    Promovarea ofertelor imobiliare
  <ul>
    <li>Promovare in presa de specialitate;</li>
    <li>Publicarea pe site-ul propriu al agentiei;</li>
    <li>Publicarea pe alte site-uri de specialitate;</li>
    <li>Promovarea ofertelor prin agentii partenere din tara;</li>
  </ul>
  </p>
  <p>
    Asistenta si consultanta juridica
  <ul>
    <li>Intocmirea contractului de prestari servicii pentru oferta sau cerere;</li>
    <li>Intocmirea dosarului ofertei din care sa reiasa clar situatia juridica a imobilului si garantarea acestor acte in fata potentialului comparator;</li>
    <li>Asistenta la intocmirea contractului/antecontractului de vanzare-cumparare sau a contractului de inchiriere intre proprietar si comparator;</li>
    <li>Pregatirea si programarea semnarii contractului la notar (in cazul vanzarii)</li>
    <li>Asistarea cumparatorului in fata notarului in momentul semnarii contractului de vanzare cumparare in forma autentica;</li>
  </ul>
  </p>

  <p>Analiza si consultanta in afaceri
  <ul>
    <li>Studii de piata in domeniul imobiliar pe zone de interes pentru potentialul investitor;</li>
    <li> Studii de rentabilitate si planuri de afaceri pentru clientii care doresc sa investeasca in domeniul imobiliar;</li>
    <li>Consultanta in ceea ce priveste obtinerea de fonduri europene nerambursabile, in functie de proiectele initiate;</li>
    <li></li>
  </ul>
  </p>
  <p>Asistenta si consultanta financiara
  <ul>
    <li>Prezentarea normelor fiscale in vigoare cum ar fi: TVA 24%, TVA 5%, impozit la vanzare, taxe notariale,  etc;</li>
    <li>Prezentarea normelor de creditare in programul “Prima casa”, cum ar fi: conditii de eligibilitate, venituri minime necesare, perioada maxima, venituri luate in calcul si dobanda;</li>
    <li>Prezentarea conditiilor de creditare standard ale principalelor banci (venituri minime necesare, perioada maxima de creditare, venituri luate in calcul si dobanda;</li>
  </ul>
  </p>
  <p>
    Comisioanele practicate:

  <ul>
    <li>3 % pentru vanzare-cumparare</li>
    <li>pentru inchiriere</li>
  </ul>
  Comisioanele sunt negociabile
  Clientilor fideli le acordam discounturi.
  </p>

  <h3>Ce informatii trebuie sa aveti in cazul in care...</h3>

  <h4>DORITI SA VINDETI UN IMOBIL?</h4>

  <p>Pentru a vinde o proprietate/un teren trebuie stabilite niste obiective de vanzare si trebuie tinut cont de anumiti factori, ca de pilda:

  <ol>
    <li>Informare in piata imobiliara cu privire la obiectivul pe care il urmariti: pret sau tranzactionare rapida.</li>
    <li>Publicitate. Oferta dvs. trebuie facuta publica, veti fi cu atat mai avantajati cu cat sporiti canalele de expunere publica. În cazul apartamentelor pot fi suficiente anunturile de mica publicitate în presa, insa daca imobilul dvs. are anumite avantaje, inbunatatiri, finisaje deosebite, etc. trebuie gasite unelte mai avansate care sa permita evidentierea acestor avantaje respectiv motivarea pretului solicitat.</li>
    <li>Selectionarea ofertelor primite si negocierea. Marja de negociere este una dintre cele mai raspandite strategii aplicate pe piata imobiliara, aratandu-va rezonabil si deschis la variante puteti castiga cumparatorul de partea dvs.</li>
    <li>Intocmirea actelor de transcriere a imobilului respectiv contractul de vanzare/cumparare.</li>
    <br>
    Pentru mai multe informatii sau pentru cazuri concrete ne puteti contacta, va oferim cu placere toate informatiile necesare gratuit
  </ol>
  </p>

  <h4>DORITI SA INCHIRIATI UN IMOBIL?</h4>
  <p>
  <ol><li>Inchirierea imobilelor sau apartamentelor cu destinatie locuinte:</li>
    <br>
    In acest caz trebuie avut in vedere ca un posibil chirias cauta mai ales detaliile la imobilul prezentat.
    De obicei chiriasul în aceasta situatie este persoana fizica iar imobilele au destinatia de locuinte.
    Pentru rezultate optime trebuie sa tineti cont de ceea ce oferiti clientilor care cauta indeplinirea raportului calitate-pret. De aceea imobilul dvs trebuie sa faca parte din urmatoarele categorii de imobile si sa indeplineasca urmatoarele conditii:
    <br><br>
    Imobilele in regim hotelier:au ca si criterii de cautare zona si finisajele. Imobilul se preda la cheie mobilat,cu toate dotarile necesare inclusiv aparatura electronica. De obicei se practica un regim de rezervari similar celui hotelier.
    Locuinte de lux: se cauta  apartamente confort sporit, case, vile, finisate la standardele moderne, de obicei în zone rezidentiale bune. Imobilul se preda la cheie mobilat,cu toate dotarile necesare inclusiv aparatura electronica si electrocasnica.
    Locuinte mobilate si utilate:- garsoniere, apartamente confort I, semidec, cu 2, 3, 4 camere; mobilate sau semimobilate.
    Locuinte nemobilate:- garsoniere, apartamente confort I si redus nemobilate, ne / finisate.
    <br><br>
    <li>Inchirierea imobilelor pentru societati comerciale:</li>
    <br>
    Vorbind de piata ploiesteana, in functie de zona în care este amplasat imobilul dvs, trebuie sa estimati destinatia optima pe domeniul de activitate al eventualului chirias. Astfel daca imobilul dvs. este amplasat central sau ultracentral, are de asemenea front stradal si vad pietonal, valorificarea optima va fi obtinuta daca demarati lucrari de amenajare pentru vitrina si acces stradal (daca legislatia în vigoare si comisia de urbanism permite acest lucru), în vederea obtinerii unui spatiu comercial . Daca imobilul nu are front stradal, axati-va pe domeniul unor posibile intrebuintari . Interesul clientului pentru aceste imobile este, ca acestea sa aibe destinatia cat mai apropiata nevoilor sale.
  </ol>
  </p>
  <h4>DORITI SA CUMPARATI UN APARTAMENT?</h4>

  <p>Indiferent prin ce mijloace doriti sa faceti acest lucru, fie apelati la serviciile unei agentii imobiliare, fie o faceti prin forte proprii,important este sa nu pierdeti din vedere aspectele cele mai importante respectiv pretul cat mai mic, timpul si eforturile necesare si nu în ultimul rand siguranta tranzactiei.
    Inainte sa luati contact cu un posibil vanzator sau vizionati diferite apartamente/ este important sa reflectati putin . Analizati piata imobiliara a momentului pe baza sumei de bani de care dispuneti.
    Pretul unui imobil este influentat de mai multi factori , fiind stabilit si de  echilibrul dintre cerere si oferta .
    <br><br>
    Zona: - pentru acelasi tip de apartament chiar aceiasi suprafata, puteti sa obtineti un plus de calitate (suprafata, finisaje, dotari) pentru un apartament  amplasat în alta zona de interes.
    Finisaje si dotari: - Finisajele pot fi sau nu satisfacatoare.La categoria dotarilor intra garaj, mobilier, cablaje, sisteme siguranta, accesorii electronice si electrocasnice,etc. Astfel o diferenta semnificativa de pret trebuie sa fie motivata de acestea.
    Avantaje de amplasament: De obicei cea mai buna cotatie au apartamentele situate la etajele intermediare, situate cat mai aproape de mijloacele de transport în comun si de alte puncte de interes.
  </p>
  <h4>DORITI SA CUMPARATI O CASA/VILA?</h4>

  <p>Pentru acest lucru aveti la dispozitie orice mijloc doriti, fie prin forte proprii, fie apeland la serviciile de specialitate ale unie agentii imobiliare, in cazul in care doriti acest lucru, noi suntem aproape de dvs, oferindu-va transparenta si consiliere profesionista in domeniu.
    <br><br>
    Pentru inceput, analizati-va bugetul, studiati ofertele din piata, apoi luati legatura cu proprietarii si treceti la vizionari<br>
    Pretul unei case/vile este influentat de mai multi factori si este stabilit de raportul cerere si oferta<br>
    <br>Zona: - pentru o casa data, pot fi diferente semnificative de pret datorate zonelor de interes rezidential. Nu luati decizii pripite,deoarece o oferta similara de locuita situata in alta zona, va poate da un plus de valoare deoarece, fata de cazul apartamentelor o casa intr-o zona de interes maxim poate fi la un pret cel putin dublu fata de o alta.
    <br>Starea tehnica: - lucrurile nu sunt tocmai simple în cazul unei case, aici pot aparea cele mai multe probleme legate de starea tehnica si eventualele vicii ale imobilului. Din start va recomadam sa apelati la serviciile unei personae avizate( constructor), intrucat un necunoscator nu poate identifica si vizualiza problemele imobilului. Orice efect isi are o cauza, si puteti avea surpriza ca lucrarile de reparatii si amenajari sa depaseasca cu mult suma estimata initial. Informativ totusi va recomandam daca nu aveti un asistent sau un agent imobiliar specializat pe case sa urmariti:
    <br>-Acoperisul : sa nu prezinte deteriorari sau gauri vizibile. Majoritatea problemelor apar din cauza apei, mai ales cand penetreaza structura de rezistenta si izolatiile casei.
    <br>-Podul : grinzi,rigole si accesorii.
    <br>-Peretele exterior: - starea zugravelii, goluri,crapaturi sau eroziuni.
    <br>-Peretele interior: - starea zugravelii, crapaturi, infiltratii, condens,etc.
    <br>-Usi si geamuri: - etansari, deteriorari;
    <br>-Instalatii:- canalizare, tevi, inst. sanitare, electrice,etc
    <br>-Recomandabil este sa optati pentru constructii noi, deseori preturile pot fi comparabile intre o constructie noua si una veche.
    <br>-Terenul aferent: - nu pierdeti din vedere la fiecare oferta suprafata terenului aferent, pentru certitudinea obtinerii pretului corect de cumparare faceti un calcul simplu: insumati valoarea medie de circulatie a terenului în zona respectiva cu valoarea totala obtinuta la suprafata utila construita/mp.
    <br>-Amplasament: - exista factori ce influenteaza pretul.
    <br>-Orientarea : - lumina soarelui patrunde sau nu în casa.
    <br>-Pozitionarea: - expunere la zgomotul strazii, distanta fata de vecini, gradul de intimitate, distanta fata de mijloc transport în comun, scoli, magazine, farmacii, etc.
    <br>-Privelistea: - imobilul este orientat catre o priveliste placuta, odihnitoare, posibile inbunatatiri prezinta avantaj (ex: plantele decorative, pavaje, gazon, etc.)
    <br>-Imaginea vecinatatii: - daca starea caselor din vecinatate este proasta aceasta poate influenta valoarea unei posibile revanzari. De asemenea nu sunt interesante nici spatiile libere intrucat exista factorul de incertitudine legat de posibila constructie ce ar putea de exemplu sa ia lumina ori ar pune în "umbra" o parte din avantajele constructiei.</p>

  <h4>DORITI SA CUMPARATI UN TEREN ?</h4>
  <p>
    Atunci cand doriti sa cumparati un teren o puteti face fie prin surse proprii, fie apeland la serviciile unei agentii imobiliare, trebuie doar sa tineti seama de cateva lucruri:
    <br><br>inainte sa luati contact cu un posibil vanzator sau vizionati diferite parcele este important sa reflectati putin . Analizati piata imobiliara a momentului, orientandu-va la ofertele ce corespund bugetului pe care il aveti. Pretul unui teren este influentat de mai multi factori  si la fel ca în orice domeniu este stabilit de raportul cerere si oferta.
    <br>- Zona: - în discutia de fata intra doar terenuri ce au destinatie constructii în zone intravilane pentru locuinte sau spatii destinate firmelor, terenuri cu destinatie agreement. Pentru o parcela data, pot fi diferente semnificative de pret datorate zonelor de interes rezidential. Facand o introspectie cu privire la zona dorita este posibil sa obtineti un plus de suprafata pentru o parcela similara dar amplasata în alta zona de interes.
    <br>- Utilitatile: - Valoare mare o au acele parcele care prezinta posibilitatea constructiei imediate, fata de cele care nu exista aceasta posibilitate momentana care pot fi tratate din punct de vedere a unei investitii. Un teren prezinta posibilitatea constructiei imediate daca se afla în zona intravilana, populata, pe o strada sau cu servitute si exista posibilitatea bransarii la utilitatile considerate: apa, gaz metan, canalizare, energie electrica.
    <br>- Frontul stradal : - presupunand ca parcela are latimea minima admisa pentru obtinerea autorizatiei de constructie, prezinta avantaj acelea care au latimea cat mai mare la strada deoarece va da posibilitatea sa alegeti orice configuratie de constructie si orientare, avand un caracter aerisit prin distanta fata de vecini si un grad mare de intimitate, fara a fi nevoiti la constructie sa respectati o serie de criterii în afara celor impuse de comisia de urbanism. De asemenea pentru parcele cu suprafete mari exista posibilitatea de fragmentare. Trebuie tinut cont si de planul de urbanism al localitatii unde se afla terenul. De retinut faptul ca nu intodeauna puteti construi ceea ce va doriti în orice zona si conditii. Inainte de a cumpara un teren analizati reglementarile stabilite de comisia de urbanism a localitatii dvs. sau cel mai sigur solicitati chiar un certificat de urbanism intrucat exista intodeuna zone protejate sau interdictii de constructie din anumite motive, acest lucru putand fi un viciu ascuns de care sa nu stiti.
  </p><h4>6. DORITI SA CUMPARATI/INCHIRIATI UN SPATIU COMERCIAL?</h4>
  <p>
    <br>In momentul in care va decideti sa faceti o investitie, o afacere si sunteti interesat de achizitionarea/inchirierea unui spatiu comercial trebuie sa va decideti daca o faceti prin forte proprii, sau apelati la o agentie imobiliara si nu trebuie sa scapati din vedere timpul si eforturile necesare si nu în ultimul rand calitatea/utilitatea raportata la pret. Faceti mai intai un studiu de piata si analizati-va bugetul alocat.
    <br><br>Pretul chiriei/luna este influentat de mai multi factori si la fel ca în orice domeniu este stabilit de - echilibrul dintre cerere si oferta.
    <br>- Zona: - pentru acelasi tip de sptiu chiar aceiasi suprafata, pot fi diferente semnificative de pret datorate zonelor de interes comercial. Trebie sa aveti in vedere ca este posibil sa obtineti un plus de calitate( suprafata, dotari) pentru acelasi tip de spatiu dar amplasat în alta zona de interes.
    <br>-Raportul calitate/pret: - pe piata sunt disponibile urmatoarele tipuri de spatii:
    <br>-Showroom si reprezentante : spatiile pe amplasamentele cele mai strategice la nivel de oras.
    <br>-Spatii comerciale cu destinatie comert cu amanuntul: de obicei sunt amplasate în zone centrale sau ultracentrale la nivel de oras sau cartier iar criteriile de selectie sunt legate de vadul comercial si afisaj. Avand în vedere acestea, este obligatoriu sa prezinte vitrina cat mai mare la strada pentru un afisaj optim si bineinteles accesul stradal.
    <br>-Spatii comerciale cu destinatie comert en-gros si distributie/depozitare: de obicei sunt amplasate în zone semicentrale iar criteriile de selectie sunt legate de: spatii largi pentru depozitare si activitati de birou , acces T.I.R obligatoriu eventual C.F.R, afisaj stradal, paza sau sistem de securitate.
    <br>-Spatii pentru sedii sociale, birouri, activitati relatii cu publicul : avantaj amplasament central sau ultracentral.
    <br>-Spatii industriale, productie sau depozite: amplasament în zone industriale sau periferice cu acces la mijloacele de transport în comun constand de obicei în hale cu dotari tipice domeniului de activitate.
    <br>Pretul chiriei/lunare trebuie sa fie justificat de avantajele amplasamentului, raportul calitate/pret, in situatia cand depaseste valoarea de inchiriere in zona.
  </p>
  <h4>7. DORITI SA CONSTRUITI?</h4>
  <p>
    Pornind de la ipoteza ca sunteti fericitul detinator al unui teren si doriti sa demarati constructia, veti trece prin urmatoarele etape:
    <br><br>
    I. Intocmirea proiectului.
    <br><br>
    Apelati la profesionisti, un arhitect bun poate sa va dea idei bune.
    <br><br>
    II. Obtinerea certificatul de urbanism.
    <br><br>
    Se obtine de la primarie pe baza documentatiei tipice depuse.
    <br><br>
    III. Emiterea autorizatie de constructie.
    <br><br>
    Se obtine de la primarie pe baza documentatiei tipice depuse.
    <br><br>
    IV. Executie.
    <br><br>
    Costurile sunt influentate de calitatea executiei, alegeti cu grija executantul.
    <br>Puteti opta pentru urmatoarele variante:
    <br><br>
    <br>regie proprie: aplicabil la constructii mici.
    <br>mixt: aplicabil la constructii mici si medii.
    <br>firma constructii: obligatoriu lucrarile mari.
    <br>Materiale: gasiti raportul optim calitate/pret.
    <br>Constructii civile: structura de rezistenta, inchiderile, compartimentarile, finisajele.
    <br>Structura de rezistenta:
    <br><br>
    <br>stalp, grinda, placa( beton armat cu fier beton)
    <br>beton monolit.
    <br>inchiderile: - în ordine crescatoare a pretului: caramida romaneasca, B.C.A. POROTHERM</p>
  <br>CE TREBUIE SA AVETI IN VEDERE?

  <br>
  <br>SELECTAREA OFERTELOR
  <br><br>
  <br>Ofertele imobiliare le gasiti fie în presa (rubricile de mica publicitate ale publicatiilor locale ), internet (portaluri sau site-uri consacrate), fie în ofertele agentiilor imobiliare.
  <br>Ofertele selectionate trebuie vizionate. Dupa vizionare analizati avantajele, respectiv dezavantajele fiecarei locatii in parte. Prin metoda comparatiei va asigurati ca ati ajuns în posesia celei mai bune oferte. Nu neglijati promovarea si negocierea pietei locale, facand un studiu de piata in zona.
  <br><br>
  <br>APELATI LA CONSULTANTA JURIDICA
  <br><br>
  <br>Sunteti în posesia celei mai avantajoase oferte si doriti sa treceti la intocmirea actelor de transcriere. In acest caz sa dati dovada de prudenta maxima, sub nici o forma sa nu avansati sume de bani pana nu verificati actele de proprietate ale vanzatorului si fara sa intocmiti în scris un acord de vointa al partilor (antecontract de vanzare/cumparare ), care are avantajul ca blocheaza tranzactionarea imobilului/terenului în cauza si nu exista posibilitatea sa pierdeti oferta.
  <br>Pentru toate acestea va recomandam în vederea sigurantei banilor dumneavoastra sa apelati la serviciile unui avocet. Ganditi de doua ori si platiti o data.
  <br>Daca apelati la serviciile unei agentii imobiliare consultanta juridica este asigurata de aceasta , printr-un avocat propriu.
  <br>Ultima etapa este intocmirea contractului de vanzare-cumparare care nu se intocmeste decat la un birou notarial si prin acesta se asigura transferul de proprietate asupra dumneavoastra.
  <br><br>
  TRANSFERUL UTILITATILOR
  <br>
  <br>Sunteti noul proprietar al imobilului. Pe baza contractului de vanzare-cumparare obtineti un extras funciar (de obicei de la notarul ce intocmeste contractul de vanzare-cumparare). Cu acestea aveti obligatia sa mergeti în primul rand la administratia financiara pentru declararea proprietatii (în max. 30 zile, altfel platiti amenzi inutile), apoi sa transcrieti utilitatile la regiile locale(apa, gaz, canal, electrica, evidenta populatiei, etc.).

</div>