<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<div class="uploader-wrapper">
  <!-- Load Feather code -->
  <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
  <%#= javascript_include_tag "adminsite/pages/admin_site/unorm" %>
  <%#= javascript_include_tag "adminsite/pages/admin_site/unormdata" %>

  <%= s3_uploader_form post: offers_url, as: "offer_images[image_url]" do %>
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn-default btn-file upload-image"><%= file_field_tag :file, multiple: true, style: 'width:220px' %></span>
        <span class="fileinput-filename"></span>
        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
      </div>
  <% end %>
</div>


<%#= image_tag("marketplace/qa/add-new-image.png") %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>