.admin-menu{
    margin-right: 20px;
    height: 46px;
    line-height: 46px;
    float: right;
    ul{
      list-style: none;
      li{
        height: 46px;
        line-height: 46px;
        float: left;
        margin-left: 20px
      }
    }
}

#datatable_wrapper{
  .row{
    margin-left: 0 !important;
  }
  .pagination{
    border: none
  }
}