<footer id="footer-wrapper">

  <!-- Footer Bottom -->
  <div id="footer-bottom" class="container">

    <div class="row">
      <div class="span6">
        <p class="copyright">Copyright © 2014. All Rights Reserved.</p>
      </div>
      <div class="span6">
        <p class="designed-by"></p>                        </div>
    </div>

  </div>
  <!-- End Footer Bottom -->

</footer>