

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Adauga Oferta", new_offer_path %></li>
  <li role="presentation"><%= link_to "Adauga Oferta", new_offer_path %></li>
  <li role="presentation"><%= link_to "Adauga Oferta", new_offer_path %></li>
</ul>