
<div class="menu-and-contact-wrap">

  <h2  class="contact-number"><i class="icon-phone"></i>07500 59 49 46 <span class="outer-strip"></span></h2>
  <!-- Start Main Menu-->
  <nav class="main-menu">
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="clearfix">
        <li><a href="index.html">Home</a></li>
        <li><a href="simple-listing.html">Listing</a>
          <ul>
            <li><a href="simple-listing.html">Simple Listing</a></li>
            <li><a href="grid-listing.html">Grid Listing</a></li>
          </ul>
        </li>
        <li><a href="news.html">News</a>
          <ul>
            <li><a href="post-image.html">Image Post</a> </li>
            <li><a href="post-gallery.html">Gallery Post</a> </li>
            <li><a href="post-video.html">Video Post</a> </li>
          </ul>
        </li>
        <li><a href="two-columns-gallery.html">Gallery</a>
          <ul>
            <li><a href="two-columns-gallery.html">2 Columns Gallery</a></li>
            <li><a href="three-columns-gallery.html">3 Columns Gallery</a></li>
            <li><a href="four-columns-gallery.html">4 Columns Gallery</a></li>
          </ul>
        </li>
        <li class="current-menu-item current_page_item"><a href="#">Pages</a>
          <ul>
            <li><a href="property.html">Property Details</a></li>
            <li><a href="on-rent.html">On Rent</a></li>
            <li><a href="on-sale.html">On Sale</a></li>
            <li><a href="miami-city.html">Miami City</a></li>
            <li><a href="agents.html">Agents</a></li>
            <li><a href="agent-properties.html">Agent Properties</a></li>
            <li><a href="full-width-page.html">Columns</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </li>
        <li><a href="#">Types</a>
          <ul class="sub-menu">
            <li><a href="villa.html">Villa</a></li>
            <li><a href="single-family.html">Single Family Home</a></li>
            <li><a href="condomium.html">Condominium</a></li>
          </ul>
        </li>
        <li><a href="contact-us.html">Contact us</a></li>
      </ul>


    </div>
  </nav><!-- End Main Menu -->

</div><!-- End .menu-and-contact-wrap -->
