
<div class="menu-and-contact-wrap">

  <h2  class="contact-number"><i class="icon-phone"></i>0734 79 09 32 <span class="outer-strip"></span></h2>
  <!-- Start Main Menu-->
  <nav class="main-menu">
    <div class="menu-main-menu-container">
      <ul id="menu-main-menu" class="clearfix">
        <li class="current-menu-item current_page_item"><%= link_to 'Acasa', root_path %></li>
        <li><a href="#">Inchirieri</a>
          <ul>
            <li><a href="#">Apartamente</a></li>
            <li><a href="#">Garsoniere</a></li>
            <li><a href="#">Case</a></li>
            <li><a href="#">Spatii Comerciale</a></li>
            <li><a href="#">Birouri</a></li>
            <li><a href="#">Terenuri Extravilane</a></li>
            <li><a href="#">Terenuri Intravilane</a></li>
          </ul>
        </li>
        <li><a href="#">Vanzari</a>
          <ul>
            <li><a href="#">Apartamente</a></li>
            <li><a href="#">Garsoniere</a></li>
            <li><a href="#">Case</a></li>
            <li><a href="#">Spatii Comerciale</a></li>
            <li><a href="#">Birouri</a></li>
            <li><a href="#">Terenuri Extravilane</a></li>
            <li><a href="#">Terenuri Intravilane</a></li>
          </ul>
        </li>
        <li><a href="#">Despre noi</a></li>
        <li><a href="#">Informatii utile</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>
  </nav><!-- End Main Menu -->

</div><!-- End .menu-and-contact-wrap -->
